* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

main {
  display: flex;
}