@use './variables.scss' as *;

//example
body {
  //background: $secondary;
  font-size: 16px;
}

h1 {
  //color: $primary;
  border: 5px solid $accent;
  padding: 0.5rem 1rem;
  font-family: $font-stack;
}
